<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <p id="flashMessage" class="flash-message"></p>
        <form id="loginForm">
            <input type="text" id="username" name="username" placeholder="Nombre de Usuario" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <a href="/register">Registrarse</a>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect_url) {
                    window.location.href = data.redirect_url;  // Redirigir si el login es exitoso
                } else {
                    document.getElementById('flashMessage').textContent = data.message;  // Mostrar mensaje de error
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('flashMessage').textContent = 'Se produjo un error inesperado.';
            });
        });
    </script>
</body>
</html>
